config/config.json
.idea
resc
figs
params.json
*.trace
*.pt
*.pyc
*.p
data/*.csv
data/*.xlsx
data/*.json
*.ipynb
data/.ipynb_checkpoints
*.txt
experiments/output
experiments/results
experiments/models
